site_name: My Docs

theme:
  name: material

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Mathematics:
    - Leibniz Formula: leibnitz.md
    - Riemann Integral: riemman_integral.html
  - Atractor: atraktor.html
